n8n-workflow.json
{
  "name": "Ad Script Refactoring AI Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "ad-script-refactor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validate-input",
              "leftValue": "={{ $json.body.reference_script }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "validate-outcome",
              "leftValue": "={{ $json.body.outcome_description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert marketing copywriter specializing in advertising script optimization. Your task is to analyze advertising scripts and generate improved versions based on specific requirements. Always respond with valid JSON only."
            },
            {
              "role": "user",
              "content": "=Analyze the following advertising script and generate an improved version.\n\n**Reference Script:**\n{{ $json.body.reference_script }}\n\n**Desired Outcome:**\n{{ $json.body.outcome_description }}\n\nPlease provide:\n1. An improved version of the script\n2. A detailed analysis explaining the changes made and why they improve the script\n\nIMPORTANT: Respond ONLY with valid JSON in this exact format (no markdown, no code blocks, no explanations):\n{\n  \"new_script\": \"...\",\n  \"analysis\": \"...\"\n}"
            }
          ]
        }
      },
      "id": "ai-agent",
      "name": "AI Agent (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and extract JSON\nconst aiResponse = $input.item.json.output || $input.item.json.text || '';\nlet parsedResponse;\n\ntry {\n  // Remove markdown code blocks if present\n  let cleanedResponse = aiResponse.trim();\n  cleanedResponse = cleanedResponse.replace(/^```json\\s*/i, '');\n  cleanedResponse = cleanedResponse.replace(/^```\\s*/i, '');\n  cleanedResponse = cleanedResponse.replace(/```\\s*$/i, '');\n  cleanedResponse = cleanedResponse.trim();\n  \n  // Try to parse as JSON\n  parsedResponse = JSON.parse(cleanedResponse);\n  \n  // Validate required fields\n  if (!parsedResponse.new_script || !parsedResponse.analysis) {\n    throw new Error('Missing required fields: new_script or analysis');\n  }\n  \n  // Ensure strings are not empty\n  if (typeof parsedResponse.new_script !== 'string' || parsedResponse.new_script.trim().length === 0) {\n    throw new Error('new_script must be a non-empty string');\n  }\n  \n  if (typeof parsedResponse.analysis !== 'string' || parsedResponse.analysis.trim().length === 0) {\n    throw new Error('analysis must be a non-empty string');\n  }\n  \n} catch (e) {\n  // If parsing fails, try to extract JSON object from text\n  const jsonObjectMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonObjectMatch) {\n    try {\n      parsedResponse = JSON.parse(jsonObjectMatch[0]);\n      if (!parsedResponse.new_script || !parsedResponse.analysis) {\n        throw new Error('Extracted JSON missing required fields');\n      }\n    } catch (parseError) {\n      throw new Error(`Failed to parse AI response: ${e.message}. Original error: ${parseError.message}`);\n    }\n  } else {\n    throw new Error(`Could not parse AI response as JSON: ${e.message}. Response: ${aiResponse.substring(0, 200)}`);\n  }\n}\n\nreturn {\n  json: {\n    task_id: $('Webhook').item.json.body.task_id,\n    callback_url: $('Webhook').item.json.body.callback_url,\n    new_script: parsedResponse.new_script.trim(),\n    analysis: parsedResponse.analysis.trim()\n  }\n};"
      },
      "id": "parse-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.callback_url }}",
        "sendBody": true,
        "authentication": "headerAuth",
        "bodyParameters": {
          "parameters": [
            {
              "name": "new_script",
              "value": "={{ $json.new_script }}"
            },
            {
              "name": "analysis",
              "value": "={{ $json.analysis }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "retryOnFail": true,
            "maxRetries": 3,
            "retryDelay": 1000
          }
        },
        "headerAuth": {
          "name": "X-N8N-API-KEY",
          "value": "={{ $env.N8N_API_KEY }}"
        }
      },
      "id": "callback",
      "name": "HTTP Request (Callback)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-callback",
      "name": "Check Callback Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Task processed successfully\", \"task_id\": $('Parse AI Response').item.json.task_id } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Failed to send callback\", \"task_id\": $('Parse AI Response').item.json.task_id, \"error\": $json.message } }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Invalid input parameters\", \"error\": \"reference_script and outcome_description are required\" } }}",
        "options": {}
      },
      "id": "respond-invalid",
      "name": "Respond Invalid Input",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"AI processing failed\", \"task_id\": $('Webhook').item.json.body.task_id, \"error\": $json.error?.message || $json.message || \"Unknown error\" } }}",
        "options": {}
      },
      "id": "respond-ai-error",
      "name": "Respond AI Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "AI Agent (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "HTTP Request (Callback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Callback)": {
      "main": [
        [
          {
            "node": "Check Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Callback Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "={{ $env.ERROR_WEBHOOK_URL }}"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-09T12:00:00.000Z",
  "versionId": "2"
}
