n8n-workflow.json
{
  "name": "Ad Script Refactoring AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad-script-refactor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7c2f3d55-572a-4ac3-9168-c2f7d20bfcc8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1200,
        112
      ],
      "webhookId": "ad-script-refactor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "validate-reference-script",
              "leftValue": "={{ $json.reference_script || $json.body?.reference_script }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "validate-outcome-desc",
              "leftValue": "={{ $json.outcome_description || $json.body?.outcome_description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0435af34-6e81-400d-be02-7bdb821aea3e",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1008,
        112
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert marketing copywriter specializing in advertising script optimization. Your task is to analyze advertising scripts and generate improved versions based on specific requirements. Always respond with valid JSON only.",
              "role": "system"
            },
            {
              "content": "=Analyze the following advertising script and generate an improved version.\n\n**Reference Script:**\n{{ $json.reference_script || $json.body?.reference_script }}\n\n**Desired Outcome:**\n{{ $json.outcome_description || $json.body?.outcome_description }}\n\nPlease provide:\n1. An improved version of the script\n2. A detailed analysis explaining the changes made and why they improve the script\n\nIMPORTANT: Respond ONLY with valid JSON in this exact format:\n{\n  \"new_script\": \"...\",\n  \"analysis\": \"...\"\n}"
            }
          ]
        },
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "id": "5ebac93c-2021-4977-8fe6-326f8e58a3f6",
      "name": "AI Agent (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "fYf8h1iTZruu48w5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get AI response correctly from n8n OpenAI node\nconst aiResponse = $input.item.json.message?.content || '';\nlet parsedResponse;\n\ntry {\n  // Clean markdown fences if any\n  let cleaned = aiResponse.trim();\n  cleaned = cleaned.replace(/^```json/i, '').replace(/^```/, '').replace(/```$/, '').trim();\n\n  // Try direct parse\n  parsedResponse = JSON.parse(cleaned);\n} catch (err) {\n  // Fallback: extract JSON from text\n  const match = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('Failed to extract JSON');\n  parsedResponse = JSON.parse(match[0]);\n}\n\n// Validate structure\nif (!parsedResponse.new_script || !parsedResponse.analysis) {\n  throw new Error('Invalid JSON structure: missing new_script or analysis');\n}\n\nreturn {\n  json: {\n    task_id: $('Webhook').item.json.body?.task_id,\n    callback_url: $('Webhook').item.json.body?.callback_url,\n    new_script: parsedResponse.new_script,\n    analysis: parsedResponse.analysis\n  }\n};\n"
      },
      "id": "6467a32c-1ff6-408c-94a2-97f9335a72d3",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "new_script",
              "value": "={{ $json.new_script }}"
            },
            {
              "name": "analysis",
              "value": "={{ $json.analysis }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "ac40ce36-ab66-438b-bdf9-6f931eb33eaa",
      "name": "HTTP Request (Callback)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -400,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "030583f8-079e-4b65-9f20-dd95f9f76bbc",
      "name": "Check Callback Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Task processed successfully\", \"task_id\": $('Parse AI Response').item.json.task_id } }}",
        "options": {}
      },
      "id": "486db27d-32cf-478c-bf9d-0e270d2f1a41",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Failed to send callback\", \"task_id\": $('Parse AI Response').item.json.task_id, \"error\": $json.message } }}",
        "options": {}
      },
      "id": "389d5c52-cc9e-47d9-a0b2-f0445f3acf20",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Invalid input parameters\", \"error\": \"reference_script and outcome_description are required\" } }}",
        "options": {}
      },
      "id": "c3d1a9ec-6477-4a93-9fde-dd4a55fdb216",
      "name": "Respond Invalid Input",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -800,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"AI processing failed\", \"task_id\": $('Webhook').item.json.task_id, \"error\": $json.error?.message || $json.message } }}",
        "options": {}
      },
      "id": "602c5a86-9213-4f86-a6a4-e23472b86e82",
      "name": "Respond AI Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -400,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "AI Agent (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "HTTP Request (Callback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Callback)": {
      "main": [
        [
          {
            "node": "Check Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Callback Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a0b0116-d5e4-4a40-ad43-4a26da493060",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc4dd6e579218fee58a712ffb4fd7b717fd1dc976b74fbbb9f406090895e38c7"
  },
  "id": "7x0Z7jDkP0It2OwG",
  "tags": []
}